{% extends 'layout.html' %}
{% block content %}
<h2>Materi Rangkaian Kapasitor</h2>
<p>Kapasitor adalah komponen elektronik yang berfungsi untuk menyimpan muatan listrik dalam medan listrik antara dua pelat konduktor yang dipisahkan oleh bahan isolator (disebut dielektrik). Ketika tegangan listrik diberikan, muatan positif dan negatif terkumpul di masing-masing pelat, membentuk medan listrik di antara pelat-pelat tersebut. Dalam suatu rangkaian, kapasitor dapat disusun secara <strong>seri</strong> atau <strong>paralel</strong>.</p>
<br>
<br>
<h4>Besaran Fisika yang Bersangkutan</h4>
<p>Dalam kapasitor, terdapat tiga besaran utama yang saling berkaitan, yaitu muatan (Q), tegangan (V), dan kapasitansi (C). Muatan (Q) menunjukkan jumlah elektron yang tersimpan di pelat kapasitor, tegangan (V) menunjukkan beda potensial antara kedua pelat, dan kapasitansi (C) menyatakan seberapa besar kemampuan kapasitor untuk menyimpan muatan per satuan tegangan. Hubungan ketiganya dinyatakan dengan persamaan Q=C⋅V, yang berarti muatan sebanding dengan kapasitansi dan tegangan yang diberikan.</p>
<br>
<br>
<h4>Kapasitor Seri</h4>
<p>Dalam rangkaian seri, kapasitor disusun berurutan sehingga muatan yang mengalir ke setiap kapasitor adalah sama. Namun, tegangan akan terbagi di antara kapasitor tergantung pada nilai kapasitansinya. Kapasitansi total atau kapasitansi ekuivalen dalam rangkaian seri dihitung menggunakan rumus. Dalam rangkaian seri, kapasitor disusun berurutan sehingga muatan yang mengalir ke setiap kapasitor adalah sama. Namun, tegangan akan terbagi di antara kapasitor tergantung pada nilai kapasitansinya. Kapasitansi total atau kapasitansi ekuivalen dalam rangkaian seri dihitung menggunakan rumus</p>
<br>
<br>
<h4>Kapasitor Paralel</h4>
<p>Berbeda dengan seri, dalam rangkaian paralel setiap kapasitor langsung terhubung ke sumber tegangan, sehingga tegangan pada setiap kapasitor adalah sama. Muatan total yang disimpan dalam rangkaian merupakan jumlah dari muatan pada masing-masing kapasitor. Kapasitansi total dalam rangkaian paralel dihitung dengan menjumlahkan seluruh kapasitansi. Berbeda dengan seri, dalam rangkaian paralel setiap kapasitor langsung terhubung ke sumber tegangan, sehingga tegangan pada setiap kapasitor adalah sama. Muatan total yang disimpan dalam rangkaian merupakan jumlah dari muatan pada masing-masing kapasitor. Kapasitansi total dalam rangkaian paralel dihitung dengan menjumlahkan seluruh kapasitansi</p>
{% endblock %}
